*{
   box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    background: #467401;
    padding: 80px;
    text-align: center;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    background: black;

}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background: grey;
    color: black;
    font-weight: bold;
}

@media screen and (max-width:700px) {
    nav{
        flex-direction: column;
    }
    
}

.corpo{
    display: flex;
    flex-flow: row wrap;
}

.card{
    flex:48%;
    background: #ccc;
    height: 400px;
    margin:1%;
}